.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  justify-content: space-around;

}
.list>li{
  list-style: none;
  
}
.list>li>a{
 text-decoration: none;
 padding: 10px;
 color: black;
}
.list>li>a:hover{
background-color: blue;
color: white;
border-radius: 5px;
}
